@import url('https://fonts.googleapis.com/css?family=Roboto|Slabo+27px');
.w3-wide{
  letter-spacing:5px;
    margin-left: 2%;
    color: white;
    

}
.w3-white,.w3-hover-white:hover{color:red;background-color:black;padding:0.8%;margin: 2% 2%!important
}
.w3-dark-grey,.w3-hover-dark-grey:hover,.w3-dark-gray,.w3-hover-dark-gray:hover
{color:blue!important;background-color:skyblue;padding-block-end: 1%}

header .navbar{
  padding: 30px 0;
}
header .navbar-default{
  background-color: transparent;
  border: none;

}
header .navbar-default .navbar-nav a{
  color: white;
  padding: 5px 8px;

}
header .navbar-default .navbar-nav a:hover{
  color:#EEC243;
}
header .navbar-default .navbar-nav .active a{
  font-weight: 700;
  color:#EEC243;
  background: transparent;
  border-bottom: 4px solid red;
  text-shadow: none;
}
header .navbar-default .navbar-nav .active a:hover{
  
  color:rgb(19, 194, 136);
  background: transparent;
 
  text-shadow: none;
}


header .navbar-brand h1{
  margin: 0;
  font-size:1.8em;
  font-weight: 400;
  
}
header .navbar-brandr-brand span.subhead{
  display: block;
  font-size: .6em;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
  
}
header .navbar-toggle{
  background-color: #279182;
}
header .navbar-default .navbar-toggle .icon-bar{
  background-color: white;
}
@media only screen and (max-width:786px){
header .navbar-collapse.in{
  background-color: rgba(0,0,0,.5);
}
body{
 
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size:2em;
  position: relative;


}
h1, h2, h3, h4, h5, h6{
  font-family: 'Slabo 27px', serif;
  font-weight: 100;
  margin: 0;
}

footer .navbar-default{
  background: transparent;

}

.page,.skills{
  padding:50px 0;
}
.page h2{
  text-align: center;
  margin-bottom: 30px;
}
.page h3{
  text-align: center;
  margin-bottom: 30px;
}
.skills h2{
  text-align: center;
  margin-bottom: 30px;
}
  /*About page*/
  
  footer{
    background-color: #586D74;
    color:white;
    font-size:.8em;
    padding:20px 0 40px 0;
  }
  
footer a{
  color:#E0E6AE;
}
footer a:hover{
  color:#EEC856 !important;
}
footer .phone{
 font-size:1.5em;
 font-weight:700;
 color:#E0E6AE; 
}
footer .navbar-default{
    background-color: transparent;
    border: none;
    margin-right: 40px;
}
footer .navbar-nav>li a{
    padding-top: 0;
    padding-bottom: 0;
    text-decoration: underline;
    color:#EEC856 !important;
}
